<mat-toolbar color="primary">
 <button style="font-size: 24px;" routerLink="/home" mat-button>
    Bogaerts
  </button>

  <span> | </span>

  <button routerLink="/list" mat-button>
    <i class="fa fa-plane"></i>
    All Airlines
  </button>

  <div class="button-spacer"></div>

  <button *ngIf="isLoggedIn; else login" routerLink="/logout" mat-button matTooltip="Logout">
    <i class="fa fa-sign-out"></i>
  </button>

  <ng-template #login>
    <button  routerLink="/login" mat-button>
      Login
    </button>
  </ng-template>

</mat-toolbar>