<h1 mat-dialog-title>
  <div>
    <img [src]="airline.logo" style="max-width: 44px;" />
    {{ airline!.name }}
  </div>
</h1>

<form mat-dialog-content [formGroup]="formGroup" class="flex-container">
  <mat-form-field class="flex-item" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput autofocus formControlName="name" placeholder="Name of the airline">

    <mat-error *ngIf="formGroup.controls['name'].hasError('required')">
      <b>Name</b> is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="flex-item" appearance="fill">
    <mat-label>Logo</mat-label>
    <input matInput formControlName="logo" placeholder="www..../mylogo.jpg">
  </mat-form-field>

  <mat-form-field class="flex-item" appearance="fill">
    <mat-label>Slogan</mat-label>
    <textarea matInput formControlName="slogan" rows="4" placeholder="Catch phrase"></textarea>
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-raised-button (click)="onSave()" color="primary" [disabled]="formGroup.invalid">Save</button>
  <button mat-button (click)="onClose()">Close</button>
</div>