<mat-card *ngFor="let number of [1,2,3,4,5,6,7,8]" class="news-card">
    <mat-card-header>
      <div mat-card-avatar class="news-header-image"></div>
      <mat-card-title>New air filters in use for Boeing</mat-card-title>
      <mat-card-subtitle>Boeing 474</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://live.staticflickr.com/3005/2862455424_9d66624903_b.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit volutpat maecenas volutpat blandit. Id cursus metus aliquam eleifend mi in nulla posuere. Viverra justo nec ultrices dui sapien eget mi proin. In hac habitasse platea dictumst vestibulum. Pharetra et ultrices neque ornare aenean euismod. Aliquam sem fringilla ut morbi. Feugiat nibh sed pulvinar proin. Quam viverra orci sagittis eu volutpat odio facilisis. At tellus at urna condimentum mattis pellentesque id nibh. Tincidunt augue interdum velit euismod in.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa fa-heart"></i></button>
      <button mat-button><i class="fa fa-share"></i></button>
    </mat-card-actions>
  </mat-card>
  